config.h
config.mak
config.texi
i386-asm.o
i386-gen.o
i386-link.o
lib/alloca86-bt.o
lib/alloca86.o
lib/bcheck.o
lib/libtcc1.o
libtcc.a
libtcc.o
libtcc1.a
tcc
tcc-doc.info
tcc.1
tcc.o
tccasm.o
tccelf.o
tccgen.o
tccpp.o
tccrun.o